<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="cs" connectionString="8IIuOjeQf3pJ4+xcSQKZUwx+dOgL6/CnmfH1mTMVGjaRouNOY0oIlprNuGeyFHZTkEILkQW9kRnSf/IGkIB5jxt4FJRevH239YYthmDCk1myc7Ob/QR6EA2PIWuqBky/j/mRn5i192CZ0nhkU6lWsN51103Kx6ZPi/EfVQO7WAPl11E8xXwxfWB/BAD+Im/iif5tVkTHa4X+Sav/1eWf35RARQatREnKXnaU0a6p6ncZeaNpOy4QIMlsU5O9JoRWjyVX2pHSJzggrxylN9FgHkc7fm8FKN01nVLtmfQQwqEhrpsP/XAo8Q=="/>
  </connectionStrings>
</configuration>